################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expert.WebShop.Vjezbe/bin/Debug/net7.0
/Expert.WebShop.Vjezbe/obj
