@page "/Admin/category-list"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;

<div class="bg-info text-dark font-weight-bolder p-2  d-flex justify-content-between">
<h3 class="pt-2">CategoryList</h3>

<button type="button" @onclick="AddCategory" class="btn btn-secondary"> Add New </button>
</div>

<div class="d-flex justify-content-center bg-secondary">
<ul class="list-unstyled mt-3">
@foreach(Category item in categories)   //ovdje ide inace  var umjesto category,dodje isto
{
   <li class="pt-3">
       <div class="container">   
                                    
        <div class="card" style="width: 18rem">

                <img class="card-img-top img-thumbnail" src=@item.ImagePath alt="neka slika..">

                <div class="card-body ">

                    <h5 class="card-title ">
                        @item.CategoryName
                    </h5>

                    <p class="card-text">  
                       @item.CategoryDescription
                    </p>

                    <button type="button" @onclick="()=>EditCategory(item.Id)" class="btn btn-info"> Edit</button>
                    <button type="button" @onclick="()=>DeleteCat(item.Id)" class="btn btn-danger">Delete</button>

                </div>
            </div>
        </div>
        </li>
        <br />
        <br />
}
</ul>
</div>



@code {
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync("https://expertshopapi.azurewebsites.net/api/Categories");
        if (result.IsSuccessStatusCode)
        {
            categories = await result.Content.ReadFromJsonAsync<List<Category>>();
        }
    }

    public async void AddCategory()
    {
        navManager.NavigateTo("/Admin/add-category");
    }


    public async void EditCategory(int Id)
    {
        navManager.NavigateTo($"/Admin/edit-category/{Id}");
    }

public async void DeleteCat(int Id)
{
    navManager.NavigateTo($"/Admin/delete-category/{Id}");
}
}

       