@page "/Admin/dashboard"


<div class="bg-info text-dark font-weight-bolder p-3">
<h3 class="pt-2">Dashboard</h3>
</div>

<div class="bg-muted text-center font-weight-bolder p-2 d-flex align-items-center flex-column m-3 ">
<div class="nav-item p-3">
        <NavLink class="nav-link shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem" href="Admin/category-list">
            <span class="oi oi-spreadsheet" aria-hidden="true"></span> <h4>Category List</h4>
    </NavLink>
</div>
<div class="nav-item p-3">
        <NavLink class="nav-link shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem" href="Admin/product-list">
        <span class="oi oi-list" aria-hidden="true"></span> <h4>Product List</h4>
    </NavLink>
</div>
</div>

@code {

}

