@page "/Admin/delete-category/{id:int}"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;

<h3 class="bg-danger text-dark p-2 ">DeleteCategory</h3>
<br />
<div>
    <br />
    @category.CategoryName
    <br/>
    @category.CategoryDescription
    <br />
    @category.IsHidden
    <br />
    <button type="button" class="btn-danger" @onclick="()=>Delete(category.Id)">
        Obriši
    </button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Category category = new Category();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"https://expertshopapi.azurewebsites.net/api/Categories/{Id}");
        if (result.IsSuccessStatusCode)
        {
            category = await result.Content.ReadFromJsonAsync<Category>();
        }
    }

    private async Task Delete(int Id)
    {
        var result = await httpClient.DeleteAsync($"https://expertshopapi.azurewebsites.net/api/Categories/{Id}");

        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("Admin/category-list");
        }
     
    }


}




